.img-circle{
  height: 200px;
  widows: 200px;
}

.list-inline{
  margin-top: 200px;
  height: 300px;
}

.card{
    height: 200px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
}
.card-user{
  width: 50px;
  height:50px;
  position:absolute;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
.card-category{
  margin-top: 10px;
  margin-left: 10px;
}
.card-description{
  position: absolute;
  bottom: -10px;
  margin-left: 10px;
}
.current-offers{
  text-align: center;
}
