---
title: Le Wagon - Middleman
---

<div class="col-xs-12 col-sm-12 banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <div class="col-xs-12 col-sm-12 form">
       <input type="text" class="form-control input-lg" placeholder="Where?">
       <input type="text" class="form-control input-lg" placeholder="When?">
       <select name="" id="" class="form-control input-lg">
         <option value="1">1 guest</option>
         <option value="2">2 guests</option>
         <option value="3">3 guests</option>
       </select>
       <input type="submit" class="btn btn-primary btn-lg" value="Search">
     </div>
  </div>
</div>

<h2 class="current-offers">The current offers</h2>

<div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">Paris, France</div>
          <div class="card-description">
            <h3>Sebastien's home</h3>
            <p>Charming room in Montmartre</p>
            <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
            </p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="card-user" alt="Ssaunier">
          <a href="flats/ssaunier.html" class="card-link"></a>
        </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">Paris, France</div>
          <div class="card-description">
            <h3>Sebastien's home</h3>
            <p>Charming room in Montmartre</p>
            <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
            </p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="card-user" alt="Ssaunier">
          <a href="flats/ssaunier.html" class="card-link"></a>
        </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">Paris, France</div>
          <div class="card-description">
            <h3>Sebastien's home</h3>
            <p>Charming room in Montmartre</p>
            <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
            </p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="card-user" alt="Ssaunier">
          <a href="flats/ssaunier.html" class="card-link"></a>
        </div>
</div>


